body {
  font-family: 'Courier New', Courier, monospace;
  background-color:rgba(212, 208, 208, 0.493);
  cursor: pointer;
  font-weight: 300;
}
.card {
  width: 30rem;
  height: 15rem;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #a34a9d 46%,
    #f6ac23 100%
  );
  border-radius: 15px 15px;
  padding: 2%;
  margin: auto;
  border-style: none;
  
}
.container {
  padding: 10%;
}
#contact a {
  color: black;
}
